<div *ngIf="parameter">
  <label class="col-3" >{{parameter.name}}</label>
  <span *ngIf="parameter.in === 'query'" >
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ parameter.operator.abbreviation }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a
        *ngFor="let operator of operators; let index = index"
        class="dropdown-item"
        href="#"
        (click)="changeOperator(index)"
      >
        {{ operator.abbreviation }}
      </a>
    </div>
  </span>
  <input
    *ngIf="!parameter.enum"
    [placeholder]="parameter.operator ? parameter.operator.meaning : ''"
    [(ngModel)]="parameter.value"
    class="col-6"
  />
  <span *ngIf="parameter.enum">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownEnumButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ parameter.value }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownEnumButton">
      <a
        *ngFor="let enum of parameter.enum; let index = index"
        class="dropdown-item"
        href="#"
        (click)="changeParameterEnum(index)"
      >
        {{ enum }}
      </a>
    </div>
  </span>
</div>
