<div *ngIf="parameter">
  <label class="col-3" >{{parameter.name}}</label>
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ parameter.operator.abbreviation }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a
      *ngFor="let operator of operators; let index = index"
      class="dropdown-item"
      href="#"
      (click)="changeOperator(index)"
    >
      {{ operator.abbreviation }}
    </a>
  </div>
  <input
    [placeholder]="parameter.operator.meaning"
    [(ngModel)]="parameter.value"
    class="col-6"
  />
</div>
